<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
    <head>
        <title><%= article.topic %>: <%= article.title %></title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
      <% if article.topic %><h3><%= article.topic %></h3><% end %>
      <h2><%= article.title %></h2>
      <% if article.abstract %>
      <p class="abstract"><%= article.abstract %></p>
      <% end %>
      <hr />
      <%= article.content %>
    </body>
</html>

